<!DOCTYPE html>
<html>
    <head>
        <title>Single line text - Text question, jQuery Survey Library Example</title>
        
        <!-- Uncomment to enable Select2 <script src="https://unpkg.com/jquery"></script> <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" /> <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script> -->
        <link href="https://surveyjs.azureedge.net/1.0.20/surveyeditor.css" type="text/css" rel="stylesheet"/>        
        <link rel="stylesheet" href="https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css">

        
        <link href="https://surveyjs.azureedge.net/1.0.20/survey.css" type="text/css" rel="stylesheet"/>
        <link rel="stylesheet" href="/stylesheets/survey.css">
        <link href="https://surveyjs.azureedge.net/1.0.20/survey.css" type="text/css" rel="stylesheet" />

    </head>
    <body>
        <!-- <div id="surveyElement"></div>
        <div id="surveyResult"></div> -->
        <div id="surveyContainer">
            <div id="editorElement"></div>
        </div>
        <!-- <div id="surveyContainer"></div> -->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"></script>
        <script src="https://surveyjs.azureedge.net/1.0.20/survey.ko.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ext-language_tools.js" type="text/javascript" charset="utf-8"></script>
        <script src="https://surveyjs.azureedge.net/1.0.20/surveyeditor.js"></script>
        <script src="https://unpkg.com/jquery"></script>
        <script src="https://surveyjs.azureedge.net/1.0.20/survey.jquery.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://surveyjs.azureedge.net/1.0.20/survey.jquery.min.js"></script>
        <script type="text/javascript" src="/javascripts/survey.js"></script>

    </body>
</html>